@import "tailwindcss";

:root {
  --background: rgb(240, 240, 249);
  --foreground: rgb(255, 255, 255);
  --oppbackground: rgb(0, 0, 0);
  --oppforeground: rgb(28, 28, 30);
  --textColor: #1D1D1F;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-oppbackground: var(--oppbackground);
  --color-oppforeground: var(--oppforeground);
  --color-textColor: var(--textColor);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(0, 0, 0);
    --foreground: rgb(28, 28, 30);
    --oppbackground: rgb(240, 240, 249);
    --oppforeground: rgb(255, 255, 255);
    --textColor: #F5F5F7;
  }
}

html, body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}